<h3>Most Lived in States</h3>
<%= render partial: 'dashboards/tables/top_location_table', locals: { location: State } %>
<h3>Most Lived in Cities</h3>
<%= render partial: 'dashboards/tables/top_location_table', locals: { location: City } %>