<h1>Dashboard</h1>
<div class="row">
  <div class="col-xs-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        Totals
      </div>
      <div class="panel-body">
        <%= render 'totals' %>
      </div>
    </div>
  </div>
  <div class="col-xs-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        User Demographics and Behavior
      </div>
      <div class="panel-body">
        <%= render 'demographics' %>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        Order Statistics
      </div>
      <div class="panel-body">
        <%= render 'order_stats' %>
      </div>
    </div>
  </div>
  <div class="col-xs-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        Time Series Data
      </div>
      <div class="panel-body">
        <%= render 'time_series_data' %>
      </div>
    </div>
  </div>
</div>  


